AUTH_PASSWORD_RESET_TTL_MINUTES=30
AUTH_REVOKE_SESSIONS_ON_PASSWORD_RESET=true
AUTH_SUPERUSER_PASSWORD=SuperPerro123!
AUTH_SUPERUSER_ALIAS=admin_inicial
AUTH_SUPERUSER_EMAIL=admin@lcdpc.local
AUTH_SUPERUSER_FIRST_NAME=Admin
AUTH_SUPERUSER_LAST_NAME=Inicial
AUTH_SUPERUSER_IDENTITY_DOCUMENT=V00000001
AUTH_SUPERUSER_WHATSAPP_PHONE=0000000000
AUTH_SUPERUSER_FULL_ADDRESS=Usuario administrador inicial
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_GOOGLE_REDIRECT_URI=http://localhost:8080/api/v1/auth/register/google/callback
AUTH_GOOGLE_SCOPE=openid email profile

OAUTH2_ISSUER=http://localhost:8080
OAUTH2_AUDIENCE=lcdpc-api
OAUTH2_ACCESS_TOKEN_TTL_MINUTES=60
OAUTH2_REFRESH_TOKEN_TTL_DAYS=30
OAUTH2_AUTHORIZATION_CODE_TTL_MINUTES=10
OAUTH2_RSA_KEY_PATH=

RESEND_APITOKEN=
RESEND_FROM_ADDRESS=
